.user-row {
  td {
    vertical-align: middle;

    &.user {
      vertical-align: middle;
      border-right: 1px solid #dee2e6;

      & > div {
        padding-left: 30px;
      }

      img {
        width: 50px;
      }
    }

    a {
      text-decoration: underline;
      font-weight: 600;
      color: #000;

      &:hover {
        color: inherit;
      }
    }

    &.progress-col {
      overflow: hidden;
      padding: .3rem 0;
      position: relative;

      .vertical-line {
        position: absolute;
        top: -12px;
        width: 1px;
        height: 80px;
        z-index: 2;
      }
    }
  }
}
