.table-head {
  th {
    font-weight: 600;
    font-size: .8rem;
    position: relative;

    &.column-month {
      padding: .3rem 0;
    }

    &:not(:nth-last-child(2)) {
      &.column-month > div {
        border-right: 1px solid #000;
      }
    }
  }

  &-dropdown {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
}

