td {
  &.user {
    vertical-align: middle;
    border-right: 1px solid #dee2e6;

    & > div {
      padding-left: 30px;
    }

    img {
      width: 50px;
    }
  }

  a {
    text-decoration: underline;
    font-weight: 600;
    color: #000;

    &:hover {
      color: inherit;
    }
  }
}
